.publication-item {
  clear: both;
  overflow: hidden;
  padding-bottom: 3em;
}

.publication-bubble {
  float: left;
  padding-right: 20px;
  // padding-bottom: 20px;
  width: 100px;
  height: 10px;
}

.publication-post-title {
  font-size: 100%;
  letter-spacing: normal;
}
