.publication-item {
  clear: both;
  overflow: hidden;
  padding-bottom: 3em;
}

.publication-bubble {
  float: left;
  padding: 0px 20px 20px 0px;
  width: 100px;
  height: 100px;
}

.publication-post-title {
  font-size: 100%;
  letter-spacing: normal;
}
